@charset "utf-8";

.fondo{
	background-image: url("../img/index.jpg");
    	background-attachment: fixed;
}

.vermell{
	color: red;
}
 
.marro{
	color: brown;
}

.margin_top_5{
	margin-top: 5%;
}

.nomExcur{
	font-size: 120%;
}

.nomPinteres, .nomHistorial{
	font-size: 120%;
}

.margin_top_5{
	margin-top: 5%;
}

.margin_top_10{
	margin-top: 10%;
}

.margin_top_15{
	margin-top: 15%;
}

.margin_top_20{
	margin-top: 20%;
}

.margin_top_25{
	margin-top: 25%;
}

.margin_top_30{
	margin-top: 30%;
}

.margin_left_5{
	margin-left: 5%;
}

.margin_left_10{
	margin-left: 10%;
}

.margin_left_15{
	margin-left: 15%;
}

.margin_left_25{
	margin-left: 25%;
}

.margin_bottom_10{
	margin-bottom: 10%;
}

.titol{
	font-size: 300%;
	margin-top: 25%;
}

.taula_temps{
	width: 50%;
}

.titols_taula{
	font-size: 130%;
}

.temps_taula{
	font-size: 175%;
}

#descrip{
	font-size: 150%;
	margin-top: 20%;
}

#mapa, #mapa_e, #ubicacio{
	width: 100%;
}

#botons_e{
	margin-left: 5%;
}

#tExcur{
	font-size: 220%;
}
